UPWORK_API_KEY=
FIVERR_API_KEY=
FIREBASE_API_KEY=AIzaSyBgD1grJGHGyYsji8XxIA5BXqSWWYKTFLo
FIREBASE_AUTH_DOMAIN=freelanceflow-67d03.firebaseapp.com
FIREBASE_DATABASE_URL=https://freelanceflow-67d03-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_PROJECT_ID=freelanceflow-67d03
FIREBASE_STORAGE_BUCKET=freelanceflow-67d03.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=164106049608
FIREBASE_APP_ID=1:164106049608:web:0d91a88878896cb9e3607d
FIREBASE_MEASUREMENT_ID=G-XSL7H0S3HV
